{% comment %} {%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%} {% endcomment %}
{%- unless template == 'index' or template == 'cart' or template == '404' -%}
  {%- assign t = template | split: '.' | first -%}
  {%- assign position = 1 -%}

  <nav aria-label="breadcrumb" class="henk-breadcrumbs" id="henk-breadcrumbs-bar">
    <ol class="henk-breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList">
      <!-- Home -->
      <li class="henk-breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a href="{{ '/'}}" class="henk-breadcrumbs__link" itemprop="item">
          {% comment %} <span itemprop="name">{{- 'breadcrumbs.home' | t -}}</span> {% endcomment %}
          <span itemprop="name">Studio HENK</span>
        </a>
        <meta itemprop="position" content="{{ position }}">
      </li>
      {%- case t -%}
        {%- when 'page' -%}
          {%- assign position = position | plus: 1 -%}
          <li
            class="henk-breadcrumbs__item"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
          >
            <span class="henk-breadcrumbs__name" itemprop="name">{{- page.title -}}</span>
            <meta itemprop="position" content="{{ position }}">
          </li>
        {%- when 'collection' -%}
          {%- assign position = position | plus: 1 -%}
          <li
            class="henk-breadcrumbs__item"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
          >
            <span class="henk-breadcrumbs__name" itemprop="name">{{- collection.title -}}</span>
            <meta itemprop="position" content="{{ position }}">
          </li>
        {%- when 'product' -%}
          {%- if collection and collection.url -%}
            {%- assign position = position | plus: 1 -%}
            <li
              class="henk-breadcrumbs__item"
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/ListItem"
            >
              <a href="{{ collection.url }}" class="henk-breadcrumbs__link" itemprop="item">
                <span itemprop="name">{{- collection.title -}}</span>
              </a>
              <meta itemprop="position" content="{{ position }}">
            </li>
          {%- endif -%}
          {%- assign position = position | plus: 1 -%}
          <li
            class="henk-breadcrumbs__item"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
            aria-current="page"
          >
            <span class="henk-breadcrumbs__name" itemprop="name">{{- product.title -}}</span>
            <meta itemprop="position" content="{{ position }}">
          </li>
        {%- when 'blog' -%}
          {%- assign position = position | plus: 1 -%}
          <li
            class="henk-breadcrumbs__item"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
          >
            <span class="henk-breadcrumbs__name" itemprop="name">{{- blog.title -}}</span>
            <meta itemprop="position" content="{{ position }}">
          </li>
        {%- when 'article' -%}
          {%- assign position = position | plus: 1 -%}
          <li
            class="henk-breadcrumbs__item"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
          >
            <a href="{{ blog.url }}" class="henk-breadcrumbs__link" itemprop="item">
              <span itemprop="name">{{ blog.title }}</span>
            </a>
            <meta itemprop="position" content="{{ position }}">
          </li>
          {%- assign position = position | plus: 1 -%}
          <li
            class="henk-breadcrumbs__item"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
            aria-current="page"
          >
            <span class="henk-breadcrumbs__name" itemprop="name">{{- article.title -}}</span>
            <meta itemprop="position" content="{{ position }}">
          </li>
        {%- when 'metaobject/store_location' -%}
          {%- assign position = position | plus: 1 -%}
          {% comment %} <li class="henk-breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> {% endcomment %}
          {% comment %} {% assign stores_handle = 'general.breadcrumbs.stores_handle' | t %} {% endcomment %}
          {% comment %} <a href="{{ '/pages/' | append: stores_handle | relative_url }}" class="henk-breadcrumbs__link" itemprop="item"> {% endcomment %}
          {% comment %} <span itemprop="name">{{ 'general.breadcrumbs.stores' | t }}</span> {% endcomment %}
          {% comment %} </a> {% endcomment %}
          {% comment %} <meta itemprop="position" content="{{ position }}" /> {% endcomment %}
          {% comment %} </li> {% endcomment %}
          {%- assign position = position | plus: 1 -%}
          <li
            class="henk-breadcrumbs__item"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
            aria-current="page"
          >
            <span class="henk-breadcrumbs__name" itemprop="name">{{- page_title -}}</span>
            <meta itemprop="position" content="{{ position }}">
          </li>
        {%- when 'metaobject/material_type' -%}
          {%- assign position = position | plus: 1 -%}
          <li
            class="henk-breadcrumbs__item"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
          >
            <a href="{{ '/pages/materialen' }}" class="henk-breadcrumbs__link" itemprop="item">
              <span itemprop="name">Materialen</span>
            </a>
            <meta itemprop="position" content="{{ position }}">
          </li>
          {%- assign position = position | plus: 1 -%}
          <li
            class="henk-breadcrumbs__item"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
            aria-current="page"
          >
            <span class="henk-breadcrumbs__name" itemprop="name">{{- metaobject.name.value -}}</span>
            <meta itemprop="position" content="{{ position }}">
          </li>
        {%- when 'metaobject/material_family' -%}
          {%- assign family = metaobject -%}
          {%- assign type = family.material_type.value -%}
          {%- assign position = position | plus: 1 -%}
          <li
            class="henk-breadcrumbs__item"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
          >
            <a href="{{ '/pages/materialen' }}" class="henk-breadcrumbs__link" itemprop="item">
              <span itemprop="name">Materialen</span>
            </a>
            <meta itemprop="position" content="{{ position }}">
          </li>
          {%- assign position = position | plus: 1 -%}
          <li
            class="henk-breadcrumbs__item"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
          >
            <a href="{{ type.system.url }}" class="henk-breadcrumbs__link" itemprop="item">
              <span itemprop="name">{{- type.name.value -}}</span>
            </a>
            <meta itemprop="position" content="{{ position }}">
          </li>
          {%- assign position = position | plus: 1 -%}
          <li
            class="henk-breadcrumbs__item"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
            aria-current="page"
          >
            <span class="henk-breadcrumbs__name" itemprop="name">{{- family.name.value -}}</span>
            <meta itemprop="position" content="{{ position }}">
          </li>
        {%- when 'metaobject/material_finish' -%}
          {%- assign finish = metaobject -%}
          {%- assign family = finish.material_family.value -%}
          {%- assign type = family.material_type.value -%}
          {%- assign position = position | plus: 1 -%}
          <li
            class="henk-breadcrumbs__item"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
          >
            <a href="{{ '/pages/materialen' }}" class="henk-breadcrumbs__link" itemprop="item">
              <span itemprop="name">Materialen</span>
            </a>
            <meta itemprop="position" content="{{ position }}">
          </li>
          {%- assign position = position | plus: 1 -%}
          <li
            class="henk-breadcrumbs__item"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
          >
            <a href="{{ type.system.url }}" class="henk-breadcrumbs__link" itemprop="item">
              <span itemprop="name">{{- type.name.value -}}</span>
            </a>
            <meta itemprop="position" content="{{ position }}">
          </li>
          {%- assign position = position | plus: 1 -%}
          <li
            class="henk-breadcrumbs__item"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
          >
            <a href="{{ family.system.url }}" class="henk-breadcrumbs__link" itemprop="item">
              <span itemprop="name">{{- family.name.value -}}</span>
            </a>
            <meta itemprop="position" content="{{ position }}">
          </li>
          {%- assign position = position | plus: 1 -%}
          <li
            class="henk-breadcrumbs__item"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
            aria-current="page"
          >
            <span class="henk-breadcrumbs__name" itemprop="name">{{- finish.name.value -}}</span>
            <meta itemprop="position" content="{{ position }}">
          </li>
        {%- else -%}
          {%- assign position = position | plus: 1 -%}
          <li
            class="henk-breadcrumbs__item"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
            aria-current="page"
          >
            <span class="henk-breadcrumbs__name" itemprop="name">{{- page_title -}}</span>
            <meta itemprop="position" content="{{ position }}">
          </li>
      {%- endcase -%}
    </ol>
  </nav>
{%- endunless -%}

{% stylesheet %}
  .henk-breadcrumbs {
    font-size: var(--size-font-small);
    line-height: 24px;
    width: min(var(--size-width-content), 100% - 3rem);
    margin-inline: auto;
    text-box: trim-end ex alphabetic;
    padding-block-start: 7px;
    margin-block-end: 24px;
  }

  .henk-breadcrumbs__list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }

  .henk-breadcrumbs__item {
    display: inline-block;
    margin-right: 8px;
  }

  .henk-breadcrumbs__name {
    text-transform: capitalize;
  }

  /* Add the ">" separator between breadcrumb items */
  .henk-breadcrumbs__item:not(:last-child)::after {
    content: '\003E'; /* Unicode for the > symbol */
    margin-left: 8px;
    color: var(--color-text-muted);
  }

  .henk-breadcrumbs__item:last-child .henk-breadcrumbs__name {
    font-weight: 500;
  }

  @media (max-width: 767px) {
    .henk-breadcrumbs__item:nth-child(2) {
      display: block; /* Ensure it's still present in the DOM */
      visibility: hidden; /* Hides the content visually */
      position: absolute; /* Removes it from the layout flow */
      width: 0; /* Optional: remove any space it might take */
      height: 0;
    }
  }
{% endstylesheet %}
