{% assign footer_menu = linklists.footer %}
<div class="henk-footer__container">
  <h2 class="visually-hidden">Footer</h2>
  <div class="henk-footer__row henk-footer__row--links">
    <div class="henk-footer__grid">
      {% comment %} {% for link in linklists.footer.links %} {% endcomment %}
      {% for link in footer_menu.links %}
        <div class="henk-footer__grid-column">
          <h3 class="henk-footer__heading fw-medium">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </h3>
          {% if link.links %}
            <ul class="henk-footer__list henk-list henk-list--no-bullets">
              {% for drop in link.links %}
                <li class="henk-footer__list-item">
                  <a href="{{ drop.url }}">
                    {{- drop.title -}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% comment %} row b-corp, trustpilot {% endcomment %}
  <div class="henk-footer__row henk-footer__row--social-rating">
    <div class="henk-footer__section henk-footer__section--rating">
      <h3 class="henk-footer__heading h4 visually-hidden">Bcorp and Rating</h3>
      <div class="henk-footer__certificates-rating">
        <a
          href="https://www.bcorporation.net/en-us/find-a-b-corp/company/studio-henk/"
          title="Bcorp"
        >
          {% render 'henk-asset-logo-bcorp' %}
        </a>
      </div>
    </div>
    <div class="henk-footer__section henk-footer__section--social">
      <h3 class="henk-footer__heading visually-hidden">Follow Us</h3>
      <ul class="henk-footer__social-media henk-footer__list henk-list henk-list--no-bullets">
        <li class="henk-footer__social-media-item">
          <a
            href="https://www.instagram.com/studiohenk/"
            class="henk-footer__social-media-link"
            title="instagram"
          >
            {% render 'henk-icon', name: 'social-instagram', class: 'icon--only' %}
          </a>
        </li>
        <li class="henk-footer__social-media-item">
          <a
            href="https://www.facebook.com/studiohenk/"
            class="henk-footer__social-media-link"
          >
            {% render 'henk-icon', name: 'social-facebook', class: 'icon--only' %}
          </a>
        </li>
        <li class="henk-footer__social-media-item">
          <a
            href="https://www.tiktok.com/@studiohenk"
            class="henk-footer__social-media-link"
          >
            {% render 'henk-icon', name: 'social-tiktok', class: 'icon--only' %}
          </a>
        </li>
        <li class="henk-footer__social-media-item">
          <a
            href="https://nl.pinterest.com/studiohenk/"
            class="henk-footer__social-media-link"
          >
            {% render 'henk-icon', name: 'social-pinterest', class: 'icon--only' %}
          </a>
        </li>
      </ul>
    </div>
  </div>
  {% comment %} row small print {% endcomment %}
  <div class="henk-footer__row henk-footer__row--payment-terms">
    <div class="henk-footer__section henk-footer__section--payment">
      <h3 class="visually-hidden">Payment methods</h3>
      <ul class="henk-footer__payment-logos henk-list henk-list--no-bullets">
        <li class="henk-footer__payment-logo-item">
          {% render 'henk-asset-logo-ideal' %}
        </li>
        <li class="henk-footer__payment-logo-item">
          {% render 'henk-asset-logo-bancontact' %}
        </li>
        <li class="henk-footer__payment-logo-item">
          {% render 'henk-asset-logo-mastercard' %}
        </li>
        <li class="henk-footer__payment-logo-item">
          {% render 'henk-asset-logo-visa' %}
        </li>
      </ul>
    </div>
    <div class="henk-footer__section footer__section--terms">
      <h3 class="visually-hidden">Terms and Policies</h3>

      <ul class="henk-footer__small-print henk-list henk-list--no-bullets">
        {%- for policy in shop.policies -%}
          {%- if policy != blank -%}
            <li class="henk-footer__small-print-item">
              <a class="footer__link" href="{{ policy.url }}">
                <small>{{- policy.title | escape -}}</small>
              </a>
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
<!-- </footer> -->

{% stylesheet %}
  .henk-footer {
    background-color: var(--color-background-secondary, #f00);
    color: var(--color-text-base-invert, #fff);
    color-scheme: light;

    --color-text-link: var(--color-text-base-invert, #fff);

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    .henk-footer__container {
      width: min(var(--size-width-content, 1140px), 100% - 3rem);
      margin-inline: auto;
      display: flex;
      flex-direction: column;
      padding: 160px 0 0;
    }

    .henk-footer__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .henk-footer__grid {
      padding-bottom: 160px;
      align-items: flex-start;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
      gap: 24px;
    }

    .henk-footer__grid-column .henk-footer__heading {
      margin-block: 0 24px;
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
    }

    .henk-footer__grid-column .henk-footer__heading a:hover {
      text-decoration: none;
    }

    .henk-footer__row--social-rating {
      padding-bottom: 40px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
      gap: 24px;
    }

    .henk-footer__social-media {
      gap: 4px;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
    }

    .henk-footer__social-media-link {
      display: block;
    }

    .henk-footer__social-media-item {
      line-height: 1;
    }

    .henk-footer__row--payment-terms {
      display: flex;
      gap: 1.5rem;
      padding: 2.5rem 0;
      border-top: 1px solid var(--color-border-static, #000);
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    .henk-footer__payment-logos {
      display: flex;
      gap: 1rem;
    }

    .henk-footer__payment-logos,
    .henk-footer__small-print {
      margin: 0;
      padding: 0;
    }

    .henk-footer__small-print {
      display: flex;
      gap: 8px 24px;
      flex-wrap: wrap;
    }

    .henk-footer__small-print-item {
      display: inline-flex;
    }

    .henk-footer__small-print-item .footer__link {
      display: inline-flex;
      line-height: 24px;
    }

    /* b-corp and rating */
    .henk-footer__certificates-rating {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .henk-footer__bcorp-logo {
      display: inline-flex;

      svg {
        height: 118px;
        width: auto;
      }
    }

    .henk-footer__rating-widget {
      display: flex;
      align-items: center;
      flex: 1 1 193px;
    }

    .henk-footer__payment-logo-item {
      display: flex;
      align-items: center;
    }

    .henk-footer__payment-logo-item svg {
      width: auto;
      height: 16px;
    }
  }

  @media (pointer: coarse) {
    .henk-footer__social-media-link .henk-icon svg {
      width: 44px;
      height: 44px;
    }
  }

  .henk-footer .trustpilot-widget {
    max-height: 118px;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.footer",
  "tag": "footer",
  "class": "henk-footer",
  "settings": []
}
{% endschema %}
