{% assign main_level_links = linklists['main-menu'].links %}

<section id="shopify-section-henk-header" class="shopify-section">
  <header
    class="henk-header henk-header--center henk-header--in-between"
    data-js-mobile-menu
    data-js-close-label="Close"
  >
    <div class="henk-header__inner">
      <ul class="henk-header__menu">
        {% for main_level_link in main_level_links %}
          {% if main_level_link.levels > 0 %}
            {% assign main_level_sub_links = main_level_link.links %}
            <li class="henk-header__menu-item henk-header__dropdown main-level">
              <details name="main-nav">
                <summary>
                  {{- main_level_link.title }}
                  <sup class="highlight fw-700 fs-small">Nieuw!</sup>
                </summary>
                <div class="dropdown-container">
                  <div class="dropdown-container__inner">
                    <ul class="dropdown">
                      <li class="sub-level left-col">
                        {% if main_level_sub_links[0].links.size > 0 %}
                          {% assign highlights_heading = main_level_sub_links[0].title %}
                          {% assign highlights_url = main_level_sub_links[0].url %}
                          {% if highlights_url %}
                            {% if highlights_heading %}
                              <a
                                class="column__heading"
                                href="{{ highlights_url }}"
                              >
                                {{- highlights_heading -}}
                              </a>
                            {% endif %}
                          {% else %}
                            <span class="column__heading">
                              {{- highlights_heading -}}
                            </span>
                          {% endif %}
                          <ul class="dropdown__highlights">
                            {% for feature_link in main_level_sub_links[0].links %}
                              <li>
                                <a href="{{ feature_link.url }}" class="dh__link">
                                  {{- feature_link.title -}}
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </li>
                      <li class="sub-level right-col">
                        {% if main_level_sub_links[0].links.size > 0 %}
                          {% assign no_sub_links = '' %}

                          <!-- Loop through main level sub links -->
                          {% for sub_level_link in main_level_sub_links %}
                            {% if forloop.index > 1 %}
                              {% if sub_level_link.links.size > 0 %}
                                <!-- Create a column for links with sub-levels -->
                                <div class="column">
                                  <a
                                    class="column__heading"
                                    href="{{ sub_level_link.url }}"
                                  >
                                    {{- sub_level_link.title -}}
                                  </a>
                                  <ul>
                                    {% for sub_level2_link in sub_level_link.links %}
                                      <li>
                                        <a href="{{ sub_level2_link.url }}">
                                          {{ sub_level2_link.title }}
                                        </a>
                                      </li>
                                    {% endfor %}
                                  </ul>
                                </div>
                              {% else %}
                                <!-- Add links without sub-levels to a variable -->
                                {% assign no_sub_links = no_sub_links
                                  | append: '<li><a href="'
                                  | append: sub_level_link.url
                                  | append: '">'
                                  | append: sub_level_link.title
                                  | append: '</a></li>'
                                %}
                              {% endif %}
                            {% endif %}
                          {% endfor %}

                          <!-- If there are links without sub-levels, group them in one div -->
                          {% if no_sub_links != '' %}
                            <div class="column">
                              <a
                                class="column__heading"
                                href="{{main_level_link.url}}"
                              >
                                {{- main_level_link.title -}}
                              </a>
                              <ul>
                                {{ no_sub_links }}
                              </ul>
                            </div>
                          {% endif %}

                        {% else %}
                          <div class="column">
                            <a
                              href="{{main_level_link.url}}"
                              class="column__heading"
                            >
                              {{- main_level_link.title -}}
                            </a>
                            <ul>
                              {% for sub_level_link in main_level_sub_links %}
                                {% assign parts = sub_level_link.title | split: '&' %}
                                <li>
                                  <a href="{{sub_level_link.url}}">
                                    {% comment %}{{sub_level_link.title}}{% endcomment %}
                                    {% for part in parts %}
                                      {{ part }}
                                      {% unless forloop.last %}
                                        <span class="amp">&amp;</span>
                                      {% endunless %}
                                    {% endfor %}
                                  </a>
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                        {% endif %}
                      </li>
                    </ul>
                  </div>
                </div>
              </details>
            </li>
          {% else %}
            <li class="main-level">
              <a href="{{ main_level_link.url }}">
                {{- main_level_link.title -}}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>

      <!-- logo -->
      {% if template == 'index' %}
        <h1 class="henk-header__logo-heading">
          <span class="visually-hidden">Studio HENK</span>
          {%- render 'henk-logo',
            variant: 'transparent',
            href: routes.root_url,
            label: 'Studio HENK',
            extra_classes: 'henk-header__logo'
          -%}
        </h1>
      {% else %}
        {%- render 'henk-logo',
          variant: 'transparent',
          href: routes.root_url,
          label: 'Studio HENK',
          extra_classes: 'henk-header__logo'
        -%}
      {% endif %}
      <div class="henk-header__utils" data-js-utils>
        {%- if localization and localization.available_languages.size > 0 -%}
          <div class="henk-localise">
            <details class="henk-localise__details">
              <summary class="henk-localise__summary ">
                {{ localization.language.endonym_name | capitalize }}
              </summary>
              <div class="henk-localise__content">
                {%- form 'localization' -%}
                  <ul class="henk-list henk-list--no-bullets">
                    {% for lang in localization.available_languages %}
                      {% if lang.iso_code != localization.language.iso_code %}
                        <li>
                          <button
                            type="submit"
                            name="locale_code"
                            value="{{ lang.iso_code }}"
                            class="henk-button henk-button--ghost"
                            title="Switch to {{ lang.endonym_name }}"
                          >
                            {{ lang.endonym_name }}
                          </button>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {%- endform -%}
              </div>
            </details>
          </div>
        {%- endif -%}
        {% comment %} {% render 'header-search', input_id: 'Search-In-Modal' %} {% endcomment %}
        {% render 'henk-button',
          element: 'a',
          href: routes.search_url,
          label: 'Zoeken',
          variant: 'ghost',
          icon_name: 'feather-search',
          icon_only: true,
          extra_classes: 'henk-header__utils-item
        henk-header__utils-item--search'
        %}
        <a
          href="{{ routes.cart_url }}"
          class="henk-button henk-button--ghost henk-header__utils-item henk-header__utils-item--cart"
        >
          {% render 'henk-icon', name: 'feather-shopping-cart', class: 'icon--only' %}
          {% if cart.item_count > 0 %}
            <sup class="henk-notification-badge">{{ cart.item_count }} </sup>
            <span class="visually-hidden">items in cart</span>
          {% endif %}
        </a>
      </div>
    </div>
  </header>
</section>
{% stylesheet %}
  .henk-header {
    summary {
      position: relative;
    }
  }
  .highlight {
    color: var(--color-text-highlight);
    position: absolute;
    left: 100%;
    top: -16px;
  }
{% endstylesheet %}
{% schema %}
{
  "name": "t:general.header",
  "tag": "section",
  "settings": []
}
{% endschema %}
