{% assign footer_menu = linklists.footer %}
<div class="henk-footer__container">
  <h2 class="visually-hidden">Footer</h2>
  <div class="henk-footer__row henk-footer__row--links">
    <div class="henk-footer__grid">
      {% comment %} {% for link in linklists.footer.links %} {% endcomment %}
      {% for link in footer_menu.links %}
        <div class="henk-footer__grid-column">
          <h3 class="henk-footer__heading fw-medium">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </h3>
          {% if link.links %}
            <ul class="henk-footer__list henk-list henk-list--no-bullets">
              {% for drop in link.links %}
                <li class="henk-footer__list-item">
                  <a href="{{ drop.url }}">
                    {{- drop.title -}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% comment %} row b-corp, trustpilot {% endcomment %}
  <div class="henk-footer__row henk-footer__row--social-rating">
    <div class="henk-footer__section henk-footer__section--rating">
      <h3 class="henk-footer__heading h4 visually-hidden">Bcorp and Rating</h3>
      <div class="henk-footer__certificates-rating">
        <a
          href="https://www.bcorporation.net/en-us/find-a-b-corp/company/studio-henk/"
          title="Bcorp"
        >
          {% render 'henk-asset-logo-bcorp' %}
        </a>
      </div>
    </div>
    <div class="henk-footer__section henk-footer__section--social">
      <h3 class="henk-footer__heading visually-hidden">Follow Us</h3>
      <ul class="henk-footer__social-media henk-footer__list henk-list henk-list--no-bullets">
        <li class="henk-footer__social-media-item">
          <a
            href="https://www.instagram.com/studiohenk/"
            class="henk-footer__social-media-link"
            title="instagram"
          >
            {% render 'henk-icon', name: 'social-instagram', class: 'icon--only' %}

            <i class="henk-icon icon--large">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <title>Instagram</title>
                <path d="M11.5312 9.99999C11.5312 10.8457 10.8457 11.5312 9.99999 11.5312C9.15427 11.5312 8.46875 10.8457 8.46875 9.99999C8.46875 9.15427 9.15427 8.46875 9.99999 8.46875C10.8457 8.46875 11.5312 9.15427 11.5312 9.99999Z" fill="currentcolor"></path>
                <path d="M13.581 7.29077C13.5074 7.09133 13.39 6.91077 13.2374 6.76257C13.0892 6.61001 12.9088 6.49257 12.7092 6.41897C12.5474 6.35609 12.3042 6.28125 11.8563 6.26089C11.3718 6.23877 11.2266 6.23401 10 6.23401C8.77333 6.23401 8.62805 6.23865 8.14369 6.26077C7.69581 6.28125 7.45253 6.35609 7.29077 6.41897C7.09121 6.49257 6.91065 6.61001 6.76257 6.76257C6.61001 6.91077 6.49257 7.09121 6.41885 7.29077C6.35597 7.45265 6.28113 7.69593 6.26077 8.14381C6.23865 8.62817 6.23389 8.77345 6.23389 10.0001C6.23389 11.2267 6.23865 11.372 6.26077 11.8564C6.28113 12.3043 6.35597 12.5475 6.41885 12.7094C6.49257 12.9089 6.60989 13.0894 6.76245 13.2376C6.91065 13.3901 7.09109 13.5076 7.29065 13.5812C7.45253 13.6442 7.69581 13.719 8.14369 13.7394C8.62805 13.7615 8.77321 13.7661 9.99989 13.7661C11.2267 13.7661 11.372 13.7615 11.8562 13.7394C12.3041 13.719 12.5474 13.6442 12.7092 13.5812C13.1099 13.4266 13.4265 13.11 13.581 12.7094C13.6439 12.5475 13.7188 12.3043 13.7392 11.8564C13.7614 11.372 13.766 11.2267 13.766 10.0001C13.766 8.77345 13.7614 8.62817 13.7392 8.14381C13.7189 7.69593 13.644 7.45265 13.581 7.29077ZM10 12.3589C8.69717 12.3589 7.64101 11.3028 7.64101 10C7.64101 8.69717 8.69717 7.64113 10 7.64113C11.3027 7.64113 12.3589 8.69717 12.3589 10C12.3589 11.3028 11.3027 12.3589 10 12.3589ZM12.4522 8.09913C12.1477 8.09913 11.9009 7.85229 11.9009 7.54785C11.9009 7.24341 12.1477 6.99661 12.4522 6.99661C12.7566 6.99661 13.0034 7.24341 13.0034 7.54785C13.0033 7.85229 12.7566 8.09913 12.4522 8.09913Z" fill="currentcolor"></path>
                <path d="M10 2C5.5824 2 2 5.5824 2 10C2 14.4176 5.5824 18 10 18C14.4176 18 18 14.4176 18 10C18 5.5824 14.4176 2 10 2ZM14.566 11.8939C14.5438 12.3829 14.4661 12.7168 14.3525 13.009C14.1139 13.6261 13.6261 14.1139 13.009 14.3525C12.7169 14.4661 12.3829 14.5437 11.894 14.566C11.4042 14.5884 11.2477 14.5938 10.0001 14.5938C8.75244 14.5938 8.59608 14.5884 8.10608 14.566C7.6172 14.5437 7.2832 14.4661 6.99108 14.3525C6.68444 14.2372 6.40688 14.0564 6.17736 13.8226C5.94372 13.5933 5.76294 13.3156 5.64758 13.009C5.53406 12.7169 5.4563 12.3829 5.43408 11.894C5.4115 11.404 5.40625 11.2476 5.40625 10C5.40625 8.75244 5.4115 8.59596 5.43396 8.10608C5.45618 7.61708 5.53381 7.2832 5.64734 6.99096C5.7627 6.68444 5.9436 6.40672 6.17736 6.17736C6.40672 5.9436 6.68444 5.76282 6.99096 5.64746C7.2832 5.53394 7.61708 5.4563 8.10608 5.43396C8.59596 5.41162 8.75244 5.40625 10 5.40625C11.2476 5.40625 11.404 5.41162 11.8939 5.43408C12.3829 5.4563 12.7168 5.53394 13.009 5.64734C13.3156 5.7627 13.5933 5.9436 13.8228 6.17736C14.0564 6.40688 14.2373 6.68444 14.3525 6.99096C14.4662 7.2832 14.5438 7.61708 14.5662 8.10608C14.5885 8.59596 14.5938 8.75244 14.5938 10C14.5938 11.2476 14.5885 11.404 14.566 11.8939Z" fill="currentcolor"></path>
              </svg>
            </i>
          </a>
        </li>
        <li class="henk-footer__social-media-item">
          <a
            href="https://www.facebook.com/studiohenk/"
            class="henk-footer__social-media-link"
          >
            <i class="henk-icon icon--large">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <title>Facebook</title>
                <path d="M18 10C18 5.58124 14.4188 2 10 2C5.58124 2 2 5.58124 2 10C2 14.4188 5.58124 18 10 18C10.0469 18 10.0937 18 10.1406 17.9969V11.7719H8.42187V9.76874H10.1406V8.29375C10.1406 6.58439 11.1844 5.65313 12.7094 5.65313C13.4406 5.65313 14.0687 5.70625 14.25 5.73126V7.51876H13.2C12.3719 7.51876 12.2094 7.9125 12.2094 8.49064V9.76563H14.1937L13.9344 11.7687H12.2094V17.6906C15.5531 16.7313 18 13.6531 18 10Z" fill="currentColor"></path>
              </svg>
            </i>
          </a>
        </li>
        <li class="henk-footer__social-media-item">
          <a
            href="https://www.tiktok.com/@studiohenk"
            class="henk-footer__social-media-link"
          >
            <i class="henk-icon icon--large">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <title>TikTok</title>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM12.9439 5.9088C13.3329 6.3669 13.8517 6.68307 14.4246 6.81123C14.6138 6.85296 14.8066 6.87387 15 6.87362V8.92716C14.0182 8.92898 13.0606 8.6088 12.2619 8.01167V12.2027C12.2618 12.9575 12.0467 13.6951 11.644 14.3215C11.2413 14.9478 10.6692 15.4344 10.0009 15.7192C9.33248 16.0041 8.59811 16.0741 7.89148 15.9205C7.18485 15.7669 6.53803 15.3966 6.03357 14.8568C5.50459 14.2905 5.15809 13.5655 5.04255 12.7831C4.927 12.0007 5.04819 11.2002 5.38915 10.4934C5.73012 9.78657 6.27381 9.2089 6.94418 8.84117C7.61455 8.47343 8.37807 8.33401 9.12793 8.44242V10.5421C8.79166 10.4303 8.43005 10.4333 8.09553 10.5508C7.76102 10.6683 7.47099 10.8942 7.26751 11.1957C7.06403 11.4972 6.95767 11.8587 6.96387 12.2276C6.97006 12.5966 7.08848 12.9539 7.30195 13.2478C7.51216 13.5368 7.80368 13.7497 8.13554 13.8565C8.46741 13.9633 8.82294 13.9587 9.15217 13.8433C9.4814 13.728 9.76779 13.5076 9.97109 13.2132C10.1744 12.9188 10.2844 12.5652 10.2856 12.2021V4H12.2619V4.26457C12.3159 4.87463 12.5549 5.4507 12.9439 5.9088Z" fill="currentColor"></path>
              </svg>
            </i>
          </a>
        </li>
        <li class="henk-footer__social-media-item">
          <a
            href="https://nl.pinterest.com/studiohenk/"
            class="henk-footer__social-media-link"
          >
            <i class="henk-icon icon--large">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <title>Pinterest</title>
                <path d="M10.0096 2C11.1183 2 12.1569 2.21027 13.1254 2.63082C14.094 3.05137 14.9383 3.62166 15.6583 4.3417C16.3783 5.06173 16.9486 5.90601 17.3692 6.87455C17.7897 7.84309 18 8.88172 18 9.99044C18 11.0992 17.7897 12.1378 17.3692 13.1063C16.9486 14.0749 16.3783 14.9223 15.6583 15.6487C14.9383 16.3751 14.094 16.9486 13.1254 17.3692C12.1569 17.7897 11.1183 18 10.0096 18C8.90084 18 7.86221 17.7897 6.89367 17.3692C5.92513 16.9486 5.07766 16.3751 4.35125 15.6487C3.62485 14.9223 3.05137 14.0749 2.63082 13.1063C2.21027 12.1378 2 11.0992 2 9.99044C2 8.88172 2.21027 7.84309 2.63082 6.87455C3.05137 5.90601 3.62485 5.06173 4.35125 4.3417C5.07766 3.62166 5.92513 3.05137 6.89367 2.63082C7.86221 2.21027 8.90084 2 10.0096 2ZM12.5329 11.7109C12.7622 11.5197 12.9566 11.2903 13.1159 11.0227C13.2752 10.7551 13.4058 10.462 13.5078 10.1434C13.6097 9.82477 13.6798 9.50299 13.718 9.17802C13.7563 8.85305 13.7563 8.53763 13.718 8.23178C13.6798 7.90044 13.5779 7.57865 13.4122 7.26643C13.2465 6.9542 13.0299 6.67702 12.7622 6.43489C12.4946 6.19275 12.1888 5.98885 11.8447 5.82318C11.5006 5.65751 11.1374 5.55556 10.7551 5.51732C10.1689 5.4536 9.60494 5.49184 9.06332 5.63202C8.5217 5.7722 8.04381 5.99203 7.62963 6.29152C7.21545 6.591 6.88092 6.96376 6.62605 7.4098C6.37117 7.85583 6.24373 8.35922 6.24373 8.91995C6.24373 9.4552 6.33931 9.88849 6.53047 10.2198C6.72162 10.5512 7.05934 10.8061 7.54361 10.9845C7.70928 10.8315 7.7953 10.6882 7.80167 10.5544C7.80804 10.4205 7.77937 10.2867 7.71565 10.1529C7.65193 10.0191 7.57547 9.87893 7.48626 9.73238C7.39705 9.58582 7.34608 9.42334 7.33333 9.24492C7.28236 8.7734 7.37475 8.32417 7.61051 7.89725C7.84628 7.47033 8.16169 7.12306 8.55675 6.85544C8.95181 6.58781 9.40422 6.42851 9.91398 6.37754C10.4237 6.32656 10.9335 6.44763 11.4432 6.74074C11.6854 6.88092 11.8765 7.08164 12.0167 7.34289C12.1569 7.60414 12.2557 7.89725 12.313 8.22222C12.3704 8.54719 12.3831 8.88491 12.3513 9.23536C12.3194 9.58582 12.2429 9.90761 12.1219 10.2007C12.0008 10.4938 11.8383 10.7487 11.6344 10.9654C11.4305 11.182 11.1884 11.3158 10.908 11.3668C10.7296 11.405 10.548 11.4018 10.3632 11.3572C10.1784 11.3126 10.0478 11.2521 9.97133 11.1756C9.76742 10.9845 9.68459 10.7678 9.72282 10.5257C9.76105 10.2836 9.83114 10.0223 9.93309 9.74194C10.035 9.46157 10.1274 9.17483 10.2103 8.88172C10.2931 8.58861 10.2772 8.30824 10.1625 8.04062C10.0605 7.81123 9.91716 7.67423 9.73238 7.62963C9.54759 7.58503 9.36599 7.60733 9.18757 7.69654C9.00916 7.78574 8.84667 7.91955 8.70012 8.09797C8.55356 8.27638 8.46117 8.46754 8.42294 8.67145C8.39745 8.88809 8.41657 9.10155 8.48029 9.31183C8.54401 9.5221 8.57587 9.72919 8.57587 9.93309C8.57587 10.1625 8.54401 10.4078 8.48029 10.6691C8.41657 10.9303 8.34329 11.1979 8.26045 11.4719C8.17762 11.7459 8.09478 12.0135 8.01195 12.2748C7.92911 12.536 7.86858 12.7814 7.83035 13.0108C7.80486 13.1892 7.78256 13.4313 7.76344 13.7372C7.74432 14.043 7.76025 14.2915 7.81123 14.4827L7.79211 14.5018H8.42294C8.63959 14.1322 8.82437 13.6989 8.9773 13.2019C9.13023 12.7049 9.26404 12.227 9.37873 11.7682C9.44245 11.7045 9.49024 11.7172 9.5221 11.8065C9.55396 11.8957 9.60175 11.9594 9.66547 11.9976C9.85663 12.1505 10.086 12.2429 10.3536 12.2748C10.6213 12.3067 10.8889 12.3035 11.1565 12.2652C11.4241 12.227 11.6822 12.1569 11.9307 12.055C12.1792 11.953 12.3799 11.8383 12.5329 11.7109Z" fill="currentColor"></path>
              </svg>
            </i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  {% comment %} row small print {% endcomment %}
  <div class="henk-footer__row henk-footer__row--payment-terms">
    <div class="henk-footer__section henk-footer__section--payment">
      <h3 class="visually-hidden">Payment methods</h3>
      <ul class="henk-footer__payment-logos henk-list henk-list--no-bullets">
        <li class="henk-footer__payment-logo-item">
          <svg
            width="19"
            height="17"
            viewBox="0 0 19 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M0 1.98611V15.614C0 16.2663 0.533729 16.8 1.18606 16.8H9.32839C15.4841 16.8 18.1527 13.3545 18.1527 8.78226C18.1527 4.2337 15.4841 0.800049 9.32839 0.800049H1.18606C0.533729 0.800049 0 1.33378 0 1.98611Z" fill="white"></path>
            <path d="M5.44995 4.14476V14.2144H9.83246C13.8117 14.2144 15.5374 11.9669 15.5374 8.7882C15.5374 5.74595 13.8117 3.38568 9.83246 3.38568H6.20903C5.78798 3.38568 5.44995 3.72964 5.44995 4.14476Z" fill="#CC0066"></path>
            <path d="M9.32831 15.7148H2.24751C1.61889 15.7148 1.10889 15.2048 1.10889 14.5762V3.02986C1.10889 2.40124 1.61889 1.89124 2.24751 1.89124H9.32831C16.0474 1.89124 17.0496 6.21444 17.0496 8.7882C17.0496 13.2537 14.3038 15.7148 9.32831 15.7148ZM2.24751 2.27078C1.82646 2.27078 1.48843 2.6088 1.48843 3.02986V14.5762C1.48843 14.9972 1.82646 15.3353 2.24751 15.3353H9.32831C14.0607 15.3353 16.67 13.0106 16.67 8.7882C16.67 3.11881 12.0681 2.27078 9.32831 2.27078H2.24751Z" fill="black"></path>
            <path d="M6.99201 7.43013C7.1462 7.43013 7.28853 7.45385 7.42492 7.50129C7.56132 7.54873 7.674 7.62583 7.77481 7.72071C7.8697 7.82153 7.94679 7.94606 8.00609 8.08839C8.05947 8.23665 8.08912 8.40863 8.08912 8.61026C8.08912 8.78817 8.0654 8.94829 8.02389 9.09654C7.97644 9.2448 7.91121 9.37527 7.82225 9.48201C7.7333 9.58876 7.62062 9.67179 7.48423 9.73702C7.34783 9.79632 7.18771 9.8319 7.00387 9.8319H5.96606V7.42419H6.99201V7.43013ZM6.95643 9.39306C7.03352 9.39306 7.10469 9.3812 7.18178 9.35748C7.25294 9.33376 7.31818 9.29224 7.37155 9.23294C7.42492 9.17364 7.47237 9.10247 7.50795 9.00759C7.54353 8.9127 7.56132 8.80596 7.56132 8.66956C7.56132 8.55096 7.54946 8.43828 7.52574 8.34339C7.50202 8.24851 7.46051 8.15955 7.40713 8.09432C7.35376 8.02909 7.2826 7.96978 7.19364 7.9342C7.10469 7.89862 6.99794 7.88083 6.86747 7.88083H6.48793V9.39899H6.95643V9.39306Z" fill="white"></path>
            <path d="M10.23 7.43013V7.8749H8.9609V8.39084H10.1292V8.80003H8.9609V9.38713H10.2596V9.8319H8.43311V7.42419H10.23V7.43013Z" fill="white"></path>
            <path d="M12.0446 7.43018L12.946 9.83788H12.3944L12.2106 9.30416H11.3092L11.1194 9.83788H10.5857L11.493 7.43018H12.0446ZM12.0742 8.90682L11.7718 8.02321H11.7658L11.4515 8.90682H12.0742Z" fill="white"></path>
            <path d="M13.8059 7.43018V9.39311H14.9801V9.83788H13.2781V7.43018H13.8059Z" fill="white"></path>
            <path d="M3.46908 9.74296C4.08154 9.74296 4.57805 9.24646 4.57805 8.63399C4.57805 8.02153 4.08154 7.52502 3.46908 7.52502C2.85661 7.52502 2.36011 8.02153 2.36011 8.63399C2.36011 9.24646 2.85661 9.74296 3.46908 9.74296Z" fill="black"></path>
            <path d="M4.30523 14.2144C3.37417 14.2144 2.62695 13.4613 2.62695 12.5361V11.2255C2.62695 10.763 3.00056 10.3834 3.46906 10.3834C3.93162 10.3834 4.31116 10.757 4.31116 11.2255V14.2144H4.30523Z" fill="black"></path>
          </svg>
        </li>
        <li class="henk-footer__payment-logo-item">
          <svg
            width="24"
            height="17"
            viewBox="0 0 24 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M1.08378 0.800049H22.6731C22.8848 0.800049 23.0878 0.884334 23.2375 1.03436C23.3872 1.18439 23.4713 1.38788 23.4713 1.60005V16C23.4713 16.2122 23.3872 16.4157 23.2375 16.5657C23.0878 16.7158 22.8848 16.8 22.6731 16.8H1.08378C0.872099 16.8 0.669091 16.7158 0.519412 16.5657C0.369733 16.4157 0.285645 16.2122 0.285645 16V1.60005C0.285645 1.38788 0.369733 1.18439 0.519412 1.03436C0.669091 0.884334 0.872099 0.800049 1.08378 0.800049Z" fill="white"></path>
            <path d="M2.35034 14.6834V11.9243H3.19974C3.81713 11.9243 4.2143 12.1569 4.2143 12.6377C4.2143 12.9097 4.08847 13.0989 3.91151 13.2093C4.16711 13.3275 4.31654 13.5561 4.31654 13.8675C4.31654 14.4233 3.91151 14.6834 3.28232 14.6834L2.35034 14.6834ZM2.89694 13.0713H3.30199C3.54972 13.0713 3.6559 12.9491 3.6559 12.7245C3.6559 12.484 3.46321 12.4052 3.20367 12.4052H2.89694V13.0713ZM2.89694 14.2026H3.23513C3.56546 14.2026 3.75814 14.1198 3.75814 13.8596C3.75814 13.6034 3.59299 13.497 3.28232 13.497H2.89694V14.2026ZM5.37655 14.7307C4.83781 14.7307 4.56647 14.4667 4.56647 14.1119C4.56647 13.7217 4.885 13.4931 5.35688 13.4891C5.47415 13.4913 5.5911 13.5018 5.70687 13.5207V13.4261C5.70687 13.1856 5.56923 13.0713 5.30576 13.0713C5.12827 13.0691 4.95202 13.1012 4.78668 13.1659L4.68837 12.7402C4.85747 12.6693 5.1288 12.622 5.36868 12.622C5.94674 12.622 6.2338 12.9294 6.2338 13.4615V14.5573C6.07258 14.6401 5.76978 14.7307 5.37655 14.7307ZM5.70687 14.2853V13.8636C5.61518 13.8431 5.52159 13.8326 5.42767 13.832C5.24677 13.832 5.10521 13.903 5.10521 14.0883C5.10521 14.2538 5.22318 14.3405 5.4316 14.3405C5.52637 14.3436 5.62058 14.3247 5.70687 14.2853ZM6.61587 14.6834V12.7954C6.89846 12.6816 7.20006 12.6228 7.5046 12.622C8.07872 12.622 8.40905 12.9058 8.40905 13.43V14.6834H7.86637V13.4694C7.86637 13.1974 7.74053 13.0713 7.50065 13.0713C7.38154 13.0696 7.26349 13.0938 7.1546 13.1423V14.6834L6.61587 14.6834ZM10.3055 12.7402L10.2032 13.1699C10.0628 13.1088 9.91193 13.0754 9.75889 13.0713C9.44037 13.0713 9.26734 13.296 9.26734 13.6665C9.26734 14.0725 9.44822 14.2814 9.78642 14.2814C9.93734 14.2773 10.0859 14.2424 10.2229 14.1789L10.3094 14.6164C10.1314 14.6959 9.938 14.7349 9.74315 14.7307C9.09038 14.7307 8.71287 14.3247 8.71287 13.6823C8.71287 13.0437 9.08645 12.622 9.7117 12.622C9.91555 12.621 10.1175 12.6612 10.3055 12.7402ZM11.4778 14.7307C10.8722 14.7307 10.4947 14.309 10.4947 13.6744C10.4947 13.0437 10.8722 12.622 11.4778 12.622C12.0874 12.622 12.457 13.0437 12.457 13.6744C12.457 14.309 12.0874 14.7307 11.4778 14.7307ZM11.4778 14.2814C11.757 14.2814 11.9025 14.0488 11.9025 13.6744C11.9025 13.3039 11.757 13.0713 11.4778 13.0713C11.2026 13.0713 11.0492 13.3039 11.0492 13.6744C11.0492 14.0488 11.2026 14.2814 11.4778 14.2814ZM12.771 14.6834V12.7954C13.0536 12.6816 13.3552 12.6228 13.6598 12.622C14.2339 12.622 14.5642 12.9058 14.5642 13.43V14.6834H14.0215V13.4694C14.0215 13.1974 13.8957 13.0713 13.6558 13.0713C13.5367 13.0696 13.4187 13.0938 13.3098 13.1423V14.6834L12.771 14.6834ZM15.7881 14.7307C15.3201 14.7307 15.0802 14.4745 15.0802 13.9542V13.1029H14.8128V12.6693H15.0802V12.2317L15.6229 12.2042V12.6693H16.0594V13.1029H15.6229V13.9464C15.6229 14.175 15.7173 14.2814 15.8942 14.2814C15.9644 14.2812 16.0343 14.2733 16.1027 14.2577L16.1302 14.6953C16.0179 14.7202 15.9031 14.7321 15.7881 14.7307ZM17.1578 14.7307C16.6191 14.7307 16.3477 14.4667 16.3477 14.1119C16.3477 13.7217 16.6663 13.4931 17.1381 13.4891C17.2554 13.4913 17.3724 13.5018 17.4881 13.5207V13.4261C17.4881 13.1856 17.3505 13.0713 17.087 13.0713C16.9095 13.0691 16.7333 13.1012 16.5679 13.1659L16.4696 12.7402C16.6387 12.6693 16.9101 12.622 17.1499 12.622C17.728 12.622 18.0151 12.9294 18.0151 13.4615V14.5573C17.8538 14.6401 17.551 14.7307 17.1578 14.7307ZM17.4881 14.2853V13.8636C17.3964 13.8431 17.3028 13.8326 17.2089 13.832C17.028 13.832 16.8865 13.903 16.8865 14.0883C16.8865 14.2538 17.0044 14.3405 17.2129 14.3405C17.3076 14.3436 17.4018 14.3247 17.4881 14.2853ZM19.8717 12.7402L19.7695 13.1699C19.629 13.1088 19.4782 13.0754 19.3251 13.0713C19.0066 13.0713 18.8336 13.296 18.8336 13.6665C18.8336 14.0725 19.0145 14.2814 19.3527 14.2814C19.5036 14.2773 19.6521 14.2424 19.7892 14.1789L19.8757 14.6164C19.6976 14.6959 19.5043 14.7349 19.3094 14.7307C18.6566 14.7307 18.2791 14.3247 18.2791 13.6823C18.2791 13.0437 18.6527 12.622 19.2779 12.622C19.4818 12.621 19.6838 12.6612 19.8717 12.7402ZM21.0649 14.7307C20.5969 14.7307 20.357 14.4745 20.357 13.9542V13.1029H20.0896V12.6693H20.357V12.2317L20.8997 12.2042V12.6693H21.3362V13.1029H20.8997V13.9464C20.8997 14.175 20.9941 14.2814 21.171 14.2814C21.2412 14.2812 21.3111 14.2733 21.3795 14.2577L21.407 14.6953C21.2947 14.7202 21.1799 14.7321 21.0649 14.7307Z" fill="#1E3764"></path>
            <path d="M6.13559 10.5448C9.00712 10.5448 10.4429 8.62593 11.8787 6.70709H2.35034V10.5448H6.13559Z" fill="url(#paint0_linear_1576_515)"></path>
            <path d="M17.6212 2.86945C14.7497 2.86945 13.3139 4.78829 11.8782 6.70713H21.4065V2.86945H17.6212Z" fill="url(#paint1_linear_1576_515)"></path>
            <defs>
            <linearGradient id="paint0_linear_1576_515" x1="4.27762" y1="8.8031" x2="11.2519" y2="6.21869" gradientUnits="userSpaceOnUse">
            <stop stop-color="#005AB9"></stop>
            <stop offset="1" stop-color="#1E3764"></stop>
            </linearGradient>
            <linearGradient id="paint1_linear_1576_515" x1="12.4551" y1="7.03998" x2="19.8598" y2="4.51957" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FBA900"></stop>
            <stop offset="1" stop-color="#FFD800"></stop>
            </linearGradient>
            </defs>
          </svg>
        </li>
        <li class="henk-footer__payment-logo-item">
          <svg
            width="27"
            height="17"
            viewBox="0 0 27 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_1576_522)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.9153 2.5105H16.9153V15.0896H9.9153V2.5105Z" fill="#FF5F00"></path>
            <path d="M10.3597 8.80005C10.3574 6.34694 11.4854 4.02493 13.4152 2.51027C12.0059 1.40249 10.2641 0.800049 8.47144 0.800049C4.08277 0.800049 0.471436 4.41138 0.471436 8.80005C0.471436 13.1887 4.08277 16.8 8.47144 16.8C10.2641 16.8 12.0059 16.1974 13.4152 15.0896C11.4854 13.5752 10.3574 11.2529 10.3597 8.80005Z" fill="#EB001B"></path>
            <path d="M26.3585 8.7996C26.3585 13.188 22.7474 16.8 18.359 16.8C16.5663 16.8 14.8245 16.1974 13.4152 15.0896C15.3432 13.5736 16.4708 11.2525 16.4708 8.80005C16.4708 6.34738 15.3432 4.02627 13.4152 2.51027C14.8245 1.40249 16.5663 0.800049 18.359 0.800049C22.7474 0.800049 26.3585 4.41116 26.3585 8.7996Z" fill="#F79E1B"></path>
            </g>
            <defs>
            <clipPath id="clip0_1576_522">
            <rect width="26" height="16.0001" fill="white" transform="translate(0.471436 0.800049)"></rect>
            </clipPath>
            </defs>
          </svg>
        </li>
        <li class="henk-footer__payment-logo-item">
          <svg
            width="52"
            height="17"
            viewBox="0 0 52 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_1490_308)">
            <path d="M22.7155 16.5692H18.6379L21.1883 1.08074H25.2658L22.7155 16.5692Z" fill="black"></path>
            <path d="M37.4973 1.45939C36.693 1.14601 35.4174 0.799988 33.84 0.799988C29.8132 0.799988 26.9776 2.90894 26.9602 5.9241C26.9267 8.14868 28.9904 9.38427 30.5339 10.126C32.1115 10.884 32.6477 11.3787 32.6477 12.0543C32.6317 13.0919 31.3729 13.5702 30.199 13.5702C28.571 13.5702 27.6987 13.3236 26.3731 12.7463L25.8361 12.4989L25.2655 15.9757C26.2219 16.4036 27.9839 16.7833 29.8132 16.8C34.0917 16.8 36.8772 14.7237 36.9102 11.5105C36.9265 9.74737 35.8368 8.39637 33.4875 7.2924C32.0613 6.58373 31.1879 6.10587 31.1879 5.38077C31.2046 4.72159 31.9266 4.04641 33.5365 4.04641C34.8621 4.01335 35.8361 4.32629 36.574 4.63946L36.9428 4.80393L37.4973 1.45939Z" fill="black"></path>
            <path d="M42.9168 11.0822C43.2526 10.1924 44.5448 6.74863 44.5448 6.74863C44.5279 6.7817 44.88 5.84242 45.0813 5.26579L45.3663 6.60037C45.3663 6.60037 46.1384 10.3078 46.3061 11.0822C45.6689 11.0822 43.7222 11.0822 42.9168 11.0822ZM47.9502 1.08074H44.7961C43.8235 1.08074 43.0845 1.36062 42.6649 2.36582L36.6081 16.5689H40.8866C40.8866 16.5689 41.591 14.6573 41.7424 14.2456H46.9777C47.0948 14.7894 47.4643 16.5689 47.4643 16.5689H51.2398L47.9502 1.08074Z" fill="black"></path>
            <path d="M15.2321 1.08074L11.2388 11.6424L10.8024 9.50034C10.0641 7.02873 7.74869 4.34338 5.16479 3.00815L8.82256 16.5527H13.1345L19.5439 1.08074H15.2321Z" fill="black"></path>
            <path d="M7.5307 1.08075H0.970193L0.903076 1.3937C6.02069 2.679 9.40988 5.7765 10.8024 9.50034L9.37631 2.38269C9.14151 1.39348 8.41995 1.11338 7.5307 1.08075Z" fill="black"></path>
            </g>
            <defs>
            <clipPath id="clip0_1490_308">
            <rect width="51.2" height="16" fill="black" transform="translate(0.471436 0.800049)"></rect>
            </clipPath>
            </defs>
          </svg>
        </li>
      </ul>
    </div>
    <div class="henk-footer__section footer__section--terms">
      <h3 class="visually-hidden">Terms and Policies</h3>

      <ul class="henk-footer__small-print henk-list henk-list--no-bullets">
        {%- for policy in shop.policies -%}
          {%- if policy != blank -%}
            <li class="henk-footer__small-print-item">
              <a class="footer__link" href="{{ policy.url }}">
                <small>{{- policy.title | escape -}}</small>
              </a>
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
<!-- </footer> -->

{% stylesheet %}
  .henk-footer {
    background-color: var(--color-background-primary);
    color: var(--color-text-static, #000);
    color-scheme: light;

    --color-text-link: var(--color-text-static, #000);

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    .henk-footer__container {
      width: min(var(--size-width-content, 1140px), 100% - 3rem);
      margin-inline: auto;
      display: flex;
      flex-direction: column;
      padding: 160px 0 0;
    }

    .henk-footer__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .henk-footer__grid {
      padding-bottom: 160px;
      align-items: flex-start;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
      gap: 24px;
    }

    .henk-footer__grid-column .henk-footer__heading {
      margin-block: 0 24px;
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
    }

    .henk-footer__grid-column .henk-footer__heading a:hover {
      text-decoration: none;
    }

    .henk-footer__row--social-rating {
      padding-bottom: 40px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
      gap: 24px;
    }

    .henk-footer__social-media {
      gap: 4px;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
    }

    .henk-footer__social-media-link {
      display: block;
    }

    .henk-footer__social-media-item {
      line-height: 1;
    }

    .henk-footer__row--payment-terms {
      display: flex;
      gap: 1.5rem;
      padding: 2.5rem 0;
      border-top: 1px solid var(--color-border-static, #000);
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    .henk-footer__payment-logos {
      display: flex;
      gap: 1rem;
    }

    .henk-footer__payment-logos,
    .henk-footer__small-print {
      margin: 0;
      padding: 0;
    }

    .henk-footer__small-print {
      display: flex;
      gap: 8px 24px;
      flex-wrap: wrap;
    }

    .henk-footer__small-print-item {
      display: inline-flex;
    }

    .henk-footer__small-print-item .footer__link {
      display: inline-flex;
      line-height: 24px;
    }

    /* b-corp and rating */
    .henk-footer__certificates-rating {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .henk-footer__bcorp-logo {
      display: inline-flex;

      svg {
        height: 118px;
        width: auto;
      }
    }

    .henk-footer__rating-widget {
      display: flex;
      align-items: center;
      flex: 1 1 193px;
    }

    .henk-footer__payment-logo-item {
      display: flex;
      align-items: center;
    }

    .henk-footer__payment-logo-item svg {
      width: auto;
      height: 16px;
    }
  }

  @media (pointer: coarse) {
    .henk-footer__social-media-link .henk-icon svg {
      width: 44px;
      height: 44px;
    }
  }

  .henk-footer .trustpilot-widget {
    max-height: 118px;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.footer",
  "tag": "footer",
  "class": "henk-footer",
  "settings": []
}
{% endschema %}
